.depth-3-frame-0 {
  	width: 24px;
  	height: 24px;
}
.group-buy {
  	align-self: stretch;
  	position: relative;
  	line-height: 23px;
}
.depth-3-frame-1 {
  	flex: 1;
  	height: 23px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 48px 0px 0px;
  	box-sizing: border-box;
}
.header1 {
  	width: 390px; /* 고정 너비 */
  	height: auto; /* 허그 콘텐츠 */
  	position: absolute; /* 위치 고정 */
  	top: 451px;
  	left: 74px;
  	background-color: #fafafa;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between; /* 양쪽 정렬 */
  	padding: 16px 16px 8px 16px; /* 패딩 상16, 우16, 하8, 좌16 */
  	box-sizing: border-box;
  	gap: 0px;
  	text-align: center;
  	font-size: 18px;
  	color: #1a0f12;
  	font-family: 'Plus Jakarta Sans';
}


