.header1-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--color-gainsboro);
  	width: 182px;
  	height: 38px;
}
.minimo {
  	position: absolute;
  	top: 13px;
  	left: 71px;
  	display: inline-block;
  	width: 41px;
  	height: 6px;
}
.header1 {
  	width: 100%;
  	position: relative;
  	height: 38px;
  	text-align: left;
  	font-size: 12px;
  	color: var(--color-black);
  	font-family: var(--font-inter);
}

