<<<<<<< HEAD
.button1-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: var(--color-gainsboro);
  	width: 132px;
  	height: 109px;
}
.grouppurchase1 {
  	margin: 0;
}
.grouppurchase {
  	position: absolute;
  	top: 55px;
  	left: 22px;
}
.button1 {
  	width: 100%;
  	position: relative;
  	height: 109px;
  	text-align: left;
  	font-size: 12px;
  	color: var(--color-black);
  	font-family: var(--font-inter);
=======
.group-purchase {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
}
.depth-5-frame-0 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth-4-frame-0 {
  	border-bottom: 3px solid #e5e8eb;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 0px 13px;
  	color: #1c0d0d;
}
.depth-4-frame-1 {
  	border-bottom: 3px solid #e5e8eb;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 0px 13px;
}
.depth-3-frame-0 {
  	align-self: stretch;
  	border-bottom: 1px solid #e8d1d1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 16px;
  	gap: 32px;
}
.button1 {
  	width: 390px; /* 고정 너비 */
  	height: 66px; /* 허그 콘텐츠 */
    padding-bottom: 12px;
  	position: absolute; /* 위치 지정 */
  	top: 689px;
  	left: 69px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0px 0px 12px; /* 아래만 패딩 */
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 14px;
  	color: #994d52;
  	font-family: 'Plus Jakarta Sans';
  	background-color: transparent; /* 필요시 배경색 추가 */
>>>>>>> main
}

